.grid{
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    background: linear-gradient(-90deg, grey, white);
}

.infoBar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
}