.modal{
    position: absolute;
    background: red;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    z-index: 100;
}

.shade{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: hsla(0, 0%, 5%, 90%);
    z-index: 90;
}