.wrapper{
    grid-column: 2/-1;
    grid-row: 2/-1;
}

.searchElement{
    display: flex;
    position: relative;
    height: 2rem;
    align-items: center;
}

.searchBar{
    height: 100%;
    padding-right: 1.8rem;
    padding-left: .3rem;
    transition: all .3s ease;
    border: 1px solid black;
}

.searchBar:hover{
    box-shadow: var(--boxShadowTemplate);
    border: none;
}

.searchBar:focus{
    box-shadow: var(--boxShadowTemplate);
    border: none;
}

.searchBar:hover ~ .searchIcon{
    right: .6rem;
    color: var(--formBlue);
}

.searchBar:focus ~ .searchIcon{
    right: .6rem;
    color: var(--formBlue);
}

.searchIcon{
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    right: .3rem;
    transition: all .3s ease;
    user-select: none;
    cursor: text;
}

.searchIcon:hover{
    right: .6rem;
    color: var(--formBlue);
}
.searchIcon:hover ~ .searchBar{
    box-shadow: var(--boxShadowTemplate);
}